<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href=#{hrefCss}>
</head>
<body>
<div id="state"></div>
<div id="breaktimer">
    <p id="timerText"></p>
    <p id="breakTimeMessage">Break time</p>
</div>
<div class="break">
<form th:action="@{/work}" th:object="${pomodoro}" method="get">
<!--    <input type="hidden" name="startTime" value=${pomodoro.startTime} th:text="*{#temporals.format(pomodoro.startTime, 'yyyy-MM-dd HH:mm')}">-->
<!--    <button>作業する</button>-->
</form>
    <script type="text/javascript">
        function zeroPadding(number, length) {
            return number.toString().padStart(length, "0");
        }

        function calculateTimerText(parameters) {
            const date = new Date();
            const minutes = date.getMinutes();
            const seconds = date.getSeconds();
            const remainingSeconds = 59 - seconds;
            const interval = parameters.work + parameters.break;
            const minutesInInterval = minutes % interval;
            const remainingMinutes =
            (minutesInInterval < parameters.work ? parameters.work : interval) -
            minutesInInterval -
            1;
            return {
                rMinutes: zeroPadding(remainingMinutes, 2),
                rSeconds: zeroPadding(remainingSeconds, 2)
            };
        }

        function getParameters() {
            const breakString = 5;
            const workString = 25;
            return {
                break: breakString,
                work: workString
            };
        }

//        function setWorkTime(){
//            const date = new Date();
//            // pomodoro.startTime の値を取得
//            const startTime = new Date(document.getElementById('startTime').value);
//            const workTime = Date.getTime() - ;
//            // Tweet ボタンの要素を取得
//            const tweetButton = document.querySelector('twitter-share-button');
//            // Tweet ボタンの href 属性を更新
//            tweetButton.href = 'https://twitter.com/intent/tweet?text=' + workTime + '作業したよ！&url=http://localhost:8080/&hashtags=ポロくんタイマー';
//        }

        setInterval(function () {
            const parameters = getParameters();
            const element = document.getElementById("timerText")
            const timers = calculateTimerText(parameters);
            //  ここで画面表示
            element.textContent = timers.rMinutes + ":" + timers.rSeconds;
            //  残り0分0秒で休憩画面に遷移
            if(timers.rMinutes == 0 && timers.rSeconds == 0){
                window.location.href = '/work';
            }
        }, 1000);
    </script>
</div>
    <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?url=http://localhost:8080/&text=TEXT&hashtags=ポロくんタイマー" target="_blank" rel="noopener noreferrer">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>