<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href=#{hrefCss}>
</head>
<body>
<div id="state"></div>
<div id="timer"></div>
<div id="index">
    <p class="img">
        <img id="imgLogo" th:src=#{imgLogo}>
        <img id="imgPoro" th:src=#{imgPoro}>
        <img id="imgFootPrints" th:src=#{imgFootPrints}>
    </p>
<!--    ボタン押下時にformのactionへ遷移先が入れられる    -->
<form  method="get" id="indexForm" name="fromIndex">
<input type="hidden" id="workUrl" th:value="@{/work}" />
<input type="hidden" id="breakUrl" th:value="@{/break}" />
    <audio id="pageMoveSE" th:src=#{indexSE} type="audio/mpeg">
    </audio>
        <button id="startButton">はじめる</button>
</form>
</div>
<script th:src="@{/js/index.js}"></script>
</body>
</html>