<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{pageTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href=#{hrefCss}>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
</head>
<body>
<div id="state"></div>
<div id="worktimer">
    <p id="timerText"></p>
    <p id="workTimeMessage" th:text="#{workTimeMessage}"></p>
    <audio id="pageMoveSE">
        <source th:src=#{toBreakSE} type="audio/mp3">
    </audio>
</div>
<div class="tweet" id="tweet">
    <button id="twitter-share-button"><i class="fa-brands fa-x-twitter"></i>Post</button>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div id="work">
    <input type="hidden" id="startTime" th:value=${pomodoro.startTime}>
    <input type="hidden" id="locationHref" value="/break">
    <script th:src="@{/js/script.js}" defer></script>
</div>
</body>
</html>