<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.amazonaws" level="INFO"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>
    <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
</configuration>
